nltk
fastapi
sentence-transformers
python-multipart
spacy
uvicorn[standard]
PyPDF2
numpy
scikit-learn
fastapi
uvicorn[standard]
spacy
pdfminer.six
numpy
scikit-learn
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl

