name: Deploy FastAPI to Azure Web App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        python -m spacy download en_core_web_sm

    - name: Zip artifact for deployment
      run: zip -r release.zip . -x "*.git*" "*__pycache__*" "*.venv*" "venv/*"

    - name: Upload artifact for deployment
      uses: actions/upload-artifact@v4
      with:
        name: python-app
        path: release.zip

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: neuron-server
        publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}
        package: release.zip
